body {
    background-color: goldenrod;
}

nav > ul > li {
    display: inline;
    margin-right: 15px;
}

nav li > a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 30px;
}

img {
    background-color: black;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    padding: 2px;
    outline: 2px solid blue;
}
